/**
 * @desc         Module bandeau header
 * @name         bar.less
 * @author       KB
 * @tested       Firefox
 * @requires     config.less
 */

.bar {
    &.bar-header {
        background: @color-secondary;
        
        .title,
        .button-clear {
            color: #fff;
        }
        .button-clear .icon::before {
            color: @color-primary;
        }
    }
}