<ion-view class="intro" id="intro" view-title="">
    <span class="icon icon--logo-black"></span>

    <ion-content scroll="false" padding="false">
        <ion-slide-box class="slider--intro" show-pager="true" disable-scroll="false" on-slide-changed="changeSlide($index)">
            <ion-slide>
                <div class="intro-wrapper">
                    <div class="item-image">
                        
                    </div>
                    <h3 class="item-title">Découvrez</h3>
                    <p class="item-desc">Recherchez parmi plus<br /> de 1000 bières et découvrez<br /> nos suggestions.</p>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="intro-wrapper">
                    <div class="item-image">
                        
                    </div>
                    <h3 class="item-title">Notez</h3>
                    <p class="item-desc">Faites une sélection de vos bières, mettez les en favoris et donner votre avis</p>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="intro-wrapper">
                    <div class="item-image">
                        
                    </div>
                    <h3 class="item-title">Partagez</h3>
                    <p class="item-desc">Suivez le flux d’actualité de la communauté et celui de vos d’amis en partageant vos coups de coeur</p>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>

    <div class="actions">
        <div class="action-top">
            <button class="btn btn--link no-animation" ng-click="checkUser()" ng-show="slideIndex != 2">Non, merci</button>
        </div>

        <div class="action-bottom">
            <button class="btn btn--link no-animation" ng-click="nextSlide()" ng-show="slideIndex != 2">
                <span class="icon icon--arrow"></span>
            </button>
            <button class="btn btn--linkSecondary no-animation" ng-click="checkUser()" ng-show="slideIndex == 2">Go beer !</button>
        </div>
    </div>
</ion-view>