/**
 * @desc         Configuration LESS & import de fichiers
 * @name         config.less
 * @author       KB, MM
 */
/* ==========================================================================
   VARIABLES
   ========================================================================== */
/* ==========================================================================
   FONTS
   ========================================================================== */
/* ==========================================================================
   FILES
   ========================================================================== */
/**
 * Styleguide Mixins
 * @desc      Fonctions LESS
 * @name      mixins.less
 * @author    KB, MM
 */
/*
Cacher le texte de son conteneur

Styleguide Mixins - 10. Cacher le texte
*/
/*
Créer une transition entre deux états d'un élément

@arguments        - Paramètres de la transition

Styleguide Mixins - 20. Transition entre deux états d'un élément
*/
/*
Gérer la transparence/opacité d'un élément

@opacity          - Opacité d'un élément de 0 (transparent) à 1 (opaque)

Styleguide Mixins - 30. Transparence/opacité d'un élément
*/
/*
Gérer la rotation d'un élément

@deg              - Rotation en degrés d'un élément (unité = deg)

Styleguide Mixins - 40. Rotation d'un élément
*/
/*
Gérer l'échelle (modification proportionnée de la taille) d'un élément

@ratio              - Ratio scale (0.5 = 50%, 1 = 100%, 1.5 = 150%)

Styleguide Mixins - 50. Echelle / taille proportionnée d'un élément
*/
/*
Gérer le déplacement en 3d

@x - Axe des abscisses X
@y - Axe des ordonnées Y
@z - Axe de la profondeur Z

Styleguide Mixins - 60. Position et déplacement sur 3 axes d'un élément
*/
/*
Gérer le déplacement en 2d

@x - Axe des abscisses X
@y - Axe des ordonnées Y

Styleguide Mixins - 61. Position et déplacement sur 3 axes d'un élément
*/
/*
Gérer la position et le déplacement sur l'axe X d'un élément

@x                - Axe des abscisses X

Styleguide Mixins - 65. Position et déplacement sur l'axe X
*/
/*
Gérer la position et le déplacement sur l'axe Y d'un élément

@y                - Axe des ordonnées Y

Styleguide Mixins - 66. Position et déplacement sur l'axe Y
*/
/*
Dégradé vertical

@start-color              - Couleur de départ (default = #555)
@end-color                - Couleur de fin (default = #333) : couleur également utilisée en fallback
@start-percent            - Niveau de départ de la couleur top en pourcentage (default = 0%)
@end-percent              - Niveau de fin de la couleur bottom en pourcentage (default = 100%)

Styleguide Mixins - 70. Dégradé vertical
*/
/*
Dégradé horizontal

@start-color              - Couleur de départ (default = #555)
@end-color                - Couleur de fin (default = #333) : couleur également utilisée en fallback
@start-percent            - Niveau de départ de la couleur top en pourcentage (default = 0%)
@end-percent              - Niveau de fin de la couleur bottom en pourcentage (default = 100%)

Styleguide Mixins - 80. Dégradé horizontal
*/
/*
Dégradé radial

@start-color              - Couleur de départ
@end-color                - Couleur de fin : couleur également utilisée en fallback

Styleguide Mixins - 90. Dégradé radial
*/
/*
Modèle de boîte CSS utilisé pour calculer la largeur et la hauteur des éléments

@type        - Valeur de la propriété box-sizing (border-box par défaut)

Styleguide Mixins - 100. Modèle de boîte (boxSizing)
*/
/*
Filter

@type        - Type de filtre (greyscale, blur, sepia, contrast, etc)
@value       - Pourcentage d'opacité du filtre (defaut = 100%)

Styleguide Mixins - 110. Filter
 */
/*
Font

@name        - Nom de la font : primary, secondary
@weight      - light, normal, bold

Styleguide Mixins - 120. Font
 */
/*
Font size

@require @base-fontsize
@size (int) - Taille du texte référence (pixel) sans unité

Styleguide Mixins - 125. Pixel to em
 */
/*
Transform

@arguments - Paramètres de la transformation

Styleguide Mixins - 130. Transform
 */
/*
Transform-origin

@arguments - Paramètres de l'origine de la transformation

Styleguide Mixins - 131. Transform-origin
 */
/*
column-wrapper

@gutter - Largeur entre chaque colonne
@breakpoint - Point de rupture pour le responsive

Styleguide Mixins - 140. Mixins de grille
 */
/*
column-item

@float - Valeur du float

Styleguide Mixins - 141. Mixins de grille
 */
/*
column-screen pour tous les écrans

@columns - Nombre de colonne
@gutter-left - Marge intérieur à gauche
@gutter-right - Marge intérieur à droite
@margin-bottom - Marge externe basse

Styleguide Mixins - 142. Mixins de grille
 */
/*
RGBA
 */
/**
 * @desc         Styles des états généraux
 * @name         states.less
 * @author       KB, FT
 * @tested       Firefox
 * @requires     config.less
 */
.is-visuallyHidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
.l-overlay {
  cursor: pointer;
}
.clear {
  clear: both;
}
/**
 * @desc         Styles généraux d'agencement des modules CSS
 * @name         layout.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
/**
 * @desc         Module icons
 * @name         icon.less
 * @author       KB
 * @tested       Firefox
 * @requires     config.less
 */
.ion-navicon:before {
  color: #f9ae14;
}
/**
 * @desc         Module bandeau header
 * @name         bar.less
 * @author       KB
 * @tested       Firefox
 * @requires     config.less
 */
.bar.bar-header {
  background: #1b1b1b;
}
.bar.bar-header .title,
.bar.bar-header .button-clear {
  color: #fff;
}
.bar.bar-header .button-clear .icon::before {
  color: #f9ae14;
}
