/**
 * @desc         Configuration LESS & import de fichiers
 * @name         config.less
 * @author       KB, MM
 */
/* ==========================================================================
   VARIABLES
   ========================================================================== */
/* ==========================================================================
   FONTS
   ========================================================================== */
/* ==========================================================================
   FILES
   ========================================================================== */
/**
 * Styleguide Mixins
 * @desc      Fonctions LESS
 * @name      mixins.less
 * @author    KB, MM
 */
/*
Cacher le texte de son conteneur

Styleguide Mixins - 10. Cacher le texte
*/
/*
Créer une transition entre deux états d'un élément

@arguments        - Paramètres de la transition

Styleguide Mixins - 20. Transition entre deux états d'un élément
*/
/*
Gérer la transparence/opacité d'un élément

@opacity          - Opacité d'un élément de 0 (transparent) à 1 (opaque)

Styleguide Mixins - 30. Transparence/opacité d'un élément
*/
/*
Gérer la rotation d'un élément

@deg              - Rotation en degrés d'un élément (unité = deg)

Styleguide Mixins - 40. Rotation d'un élément
*/
/*
Gérer l'échelle (modification proportionnée de la taille) d'un élément

@ratio              - Ratio scale (0.5 = 50%, 1 = 100%, 1.5 = 150%)

Styleguide Mixins - 50. Echelle / taille proportionnée d'un élément
*/
/*
Gérer le déplacement en 3d

@x - Axe des abscisses X
@y - Axe des ordonnées Y
@z - Axe de la profondeur Z

Styleguide Mixins - 60. Position et déplacement sur 3 axes d'un élément
*/
/*
Gérer le déplacement en 2d

@x - Axe des abscisses X
@y - Axe des ordonnées Y

Styleguide Mixins - 61. Position et déplacement sur 3 axes d'un élément
*/
/*
Gérer la position et le déplacement sur l'axe X d'un élément

@x                - Axe des abscisses X

Styleguide Mixins - 65. Position et déplacement sur l'axe X
*/
/*
Gérer la position et le déplacement sur l'axe Y d'un élément

@y                - Axe des ordonnées Y

Styleguide Mixins - 66. Position et déplacement sur l'axe Y
*/
/*
Dégradé vertical

@start-color              - Couleur de départ (default = #555)
@end-color                - Couleur de fin (default = #333) : couleur également utilisée en fallback
@start-percent            - Niveau de départ de la couleur top en pourcentage (default = 0%)
@end-percent              - Niveau de fin de la couleur bottom en pourcentage (default = 100%)

Styleguide Mixins - 70. Dégradé vertical
*/
/*
Dégradé horizontal

@start-color              - Couleur de départ (default = #555)
@end-color                - Couleur de fin (default = #333) : couleur également utilisée en fallback
@start-percent            - Niveau de départ de la couleur top en pourcentage (default = 0%)
@end-percent              - Niveau de fin de la couleur bottom en pourcentage (default = 100%)

Styleguide Mixins - 80. Dégradé horizontal
*/
/*
Dégradé radial

@start-color              - Couleur de départ
@end-color                - Couleur de fin : couleur également utilisée en fallback

Styleguide Mixins - 90. Dégradé radial
*/
/*
Modèle de boîte CSS utilisé pour calculer la largeur et la hauteur des éléments

@type        - Valeur de la propriété box-sizing (border-box par défaut)

Styleguide Mixins - 100. Modèle de boîte (boxSizing)
*/
/*
Filter

@type        - Type de filtre (greyscale, blur, sepia, contrast, etc)
@value       - Pourcentage d'opacité du filtre (defaut = 100%)

Styleguide Mixins - 110. Filter
 */
/*
Font

@name        - Nom de la font : primary, secondary
@weight      - light, normal, bold

Styleguide Mixins - 120. Font
 */
/*
Font size

@require @base-fontsize
@size (int) - Taille du texte référence (pixel) sans unité

Styleguide Mixins - 125. Pixel to em
 */
/*
Transform

@arguments - Paramètres de la transformation

Styleguide Mixins - 130. Transform
 */
/*
Transform-origin

@arguments - Paramètres de l'origine de la transformation

Styleguide Mixins - 131. Transform-origin
 */
/*
column-wrapper

@gutter - Largeur entre chaque colonne
@breakpoint - Point de rupture pour le responsive

Styleguide Mixins - 140. Mixins de grille
 */
/*
column-item

@float - Valeur du float

Styleguide Mixins - 141. Mixins de grille
 */
/*
column-screen pour tous les écrans

@columns - Nombre de colonne
@gutter-left - Marge intérieur à gauche
@gutter-right - Marge intérieur à droite
@margin-bottom - Marge externe basse

Styleguide Mixins - 142. Mixins de grille
 */
/*
RGBA
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  font-size: 75%;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* ==========================================================================
   FONTS
   ========================================================================== */
@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* ==========================================================================
   BASE
   ========================================================================== */
body {
  font-family: "MontserratRegular", Arial, Verdana, sans-serif;
  background: #f7b000;
}
.pane,
.view {
  background: #f7b000;
}
/**
 * @desc         Styles des états généraux
 * @name         states.less
 * @author       KB, FT
 * @tested       Firefox
 * @requires     config.less
 */
.is-visuallyHidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
.l-overlay {
  cursor: pointer;
}
.clear {
  clear: both;
}
/**
 * @desc         Styles généraux d'agencement des modules CSS
 * @name         layout.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
/* ==========================================================================
   INTRO
   ========================================================================== */
.intro .icon--logo-black {
  display: block;
  margin-top: 15px;
  text-align: center;
}
.intro .icon--logo-black:before {
  font-size: 45px;
}
.intro .actions {
  position: absolute;
  top: 15vh;
  right: 5vw;
  z-index: 5;
  height: 82vh;
}
.intro .action-top,
.intro .action-bottom {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 0;
}
.intro .action-bottom {
  top: auto;
  bottom: 10px;
}
.intro .btn {
  white-space: nowrap;
  transition: .3s;
}
.intro .btn .icon:before {
  color: #1b1b1b;
  font-size: 20px;
}
/* ==========================================================================
   Bouton
   ========================================================================== */
.btn {
  display: inline-block;
  border: 0;
}
/* ==========================================================================
   Bouton lien
   ========================================================================== */
.btn--link,
.btn--linkSecondary {
  color: #ccc;
  text-transform: uppercase;
  background: none;
}
.btn--linkSecondary {
  color: #1b1b1b;
}
.ion-navicon:before {
  color: #f9ae14;
}
/* ==========================================================================
   FONT
   ========================================================================== */
@font-face {
  font-family: BeerPlease;
  src: url("../fonts/beerplease.eot?v=1");
  src: url("../fonts/beerplease.eot?v=1#iefix") format("embedded-opentype"), url("../fonts/beerplease.woff?v=1") format("woff"), url("../fonts/beerplease.ttf?v=1") format("truetype"), url("../fonts/beerplease.svg?v=1#BeerPlease") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"]:before {
  font-family: BeerPlease;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ==========================================================================
   ICONS
   ========================================================================== */
.icon--logo-black:before {
  content: "\61";
}
.icon--arrow:before {
  content: "\62";
}
h1,
h2,
h3 {
  margin-top: 0;
}
h3,
.title-h3 {
  color: #f9ae14;
  font-family: "MontserratBold", Arial, Verdana, sans-serif;
  font-weight: normal;
  font-size: 1.57142857em;
  text-transform: uppercase;
}
/* ==========================================================================
   Intro
   ========================================================================== */
.slider--intro {
  margin: 15vh 0 3vh;
  height: 82vh;
}
.slider--intro .intro-wrapper {
  margin: 0 5vw;
  padding: 0 5vw;
  width: 90vw;
  height: 100%;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.slider--intro .item-image {
  margin: 40px auto 0;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.slider--intro .item-title {
  margin-top: 30px;
}
.slider--intro .item-desc {
  margin-top: 20px;
  line-height: 1.4;
  font-size: 1.28571429em;
}
/* ==========================================================================
   Pagination
   ========================================================================== */
.slider-pager {
  bottom: 15px;
}
.bar {
  background: #1b1b1b;
}
.bar .title,
.bar .button-clear {
  color: #fff;
}
.bar .button-clear .icon::before {
  color: #f9ae14;
}
.bar-header .button-icon {
  display: block !important;
}
.tabs {
  background-color: #1b1b1b;
  background-color: rgba(27, 27, 27, 0.7);
}
.tab-item {
  color: #fff;
}
.menu-animated {
  transform: translateX(0) !important;
}
.menu-left {
  transform: translate3d(-100%, 0, 0);
  transition: .3s;
}
.menu-open .menu-left {
  z-index: 100 !important;
  transform: translate3d(0, 0, 100px);
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15);
}
.menu-content {
  box-shadow: none;
}
.menu-open .menu-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.8);
}
