<ion-tabs class="tabs-default tabs-icon-top">
    <ion-tab title="Top" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/app/top"></ion-tab>

    <ion-tab title="Aléatoire" icon-on="ion-ios-loop-strong" icon-off="ion-ios-loop" href="#/app/random"></ion-tab>

    <ion-tab title="Profil" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/app/profil"></ion-tab>

    <ion-tab title="Amis" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/app/friends"></ion-tab>

    <ion-tab title="Ajouter" icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline" href="#/app/add"></ion-tab>
</ion-tabs>