<ion-side-menu side="left">
    <ion-header-bar class="bar-default">
        <h1 class="title">Menu</h1>
    </ion-header-bar>

    <ion-content>
        <a ng-click="login()">Connexion</a>

        <ion-list>
            <ion-item menu-close href="#/app/home">
                Accueil
            </ion-item>
            <ion-item menu-close href="#/app/search">
                Recherche (header)
            </ion-item>
            <ion-item menu-close href="#/app/list">
                Liste
            </ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>